body{
               margin: auto;
               padding: auto;
}

#h1e{
               font-weight: 102px;
}
a{
        text-decoration: none;
}
h2{
        margin: 10px;
        padding: 10px;
        text-decoration: none;
               font-weight: 300;
               font-size: 150%;
               color: aliceblue;
}
mark{   margin: 1px;
        padding: 1px;
      }

.mainam{
        column-gap: 10px;
        grid-auto-columns: max-content;
           
}

b{
               color: #ffdddd;
               font-weight: 900;
               font-family: Arial, Helvetica, sans;
               align-self: last baseline;
               }
b:hover{
               color: aqua;
               font-weight: 900;
               font-family: Arial, Helvetica, sans;
               align-self: last baseline;
               }


#h1m{
        padding: 10px;
        margin: 3px;
        font-size: 20px;
        text-align: left;
}
.div1{
        text-decoration: none;

        font-size: 10px;
        margin: 1px;
        align-content: center;
        padding-top:1px;
                max-height: max-content;
               border-radius: 50px;
            background:#222831;
           height: 200px;
           transition: 1s;
}

.div1:hover{
        box-shadow: rgb(14, 13, 13) 1px 1px 1px 1900px;
        text-decoration: none;
transition: 1s;
        font-size: 10px;
        margin: 1px;
        align-content: center;
        padding-top: 1px;
                max-height: max-content;
               border-radius: 50px;
           height: 200px;
                 background: linear-gradient(50deg,aqua, #222831);
     
}
        