body{
               margin: auto;
               padding: auto;
}
#h1e{
               font-weight: 102px;
}
h1{
         font-weight: 22px;   
         text-align: center;  
      }
h2{
               font-weight: 5px;
}

.maina{
        display: -moz-grid;  
        padding-top: 10px; 
        
           
}

.div1{
               margin: auto;
               border-radius: 100px;
               padding-bottom: 10px;
            background: aqua;
            width: min(100%, 800px); /* Never exceeds 800px but shrinks on small screens */
  height: max(9px, 35vh); /* At least 300px tall, or 50% viewport height */

}