body{
               margin: 3pc;
               padding: 10px;
}
h1{
               font-size: 45px;
               font-weight: 300;
               text-indent: 40px;

}
mark{
               color: aqua;
               background: transparent;
}

h5{
               line-height: 35px;
               margin-top: 10px;
               font-size: 20px;
               font-weight: 90;
}
.main{ transition: 0.8s;
               margin: 1.6pc;
               padding: 1pc;
               border-radius: 50px;               
}

.main:hover{
               transition: 0.9s;
               box-shadow: rgb(0, 238, 255) 10px 10px 10px 180px ;
               border-radius: 70px;
}