body{
               margin: 3pc;
               background-color: #222831;
               padding: 10px;
               scroll-padding: 1121px;
               scrollbar-width: 10px;
               scroll-snap-type: proximity;
               scroll-behavior: smooth;
              
}
h1{
               font-size: 45px;
               color: rgb(255, 255, 255);
               font-weight: 999;
               text-indent: 40px;

}
mark{
               color: aqua;
               background: transparent;
}
br{
               margin: 10px;
               padding: 100px;
}
h4{
               color: aliceblue;
               font-weight: 100;
               padding-bottom: 60px;
}
h5{

               margin-top: 10px;
               padding-top: 100px;
               padding-bottom: 5/0px;
               line-height: 35px;
               margin-top: 10px;
               font-size: 31px;
               font-weight: 20;
               color: rgb(255, 255, 255);
}
.main{ transition: 0.8s;
               margin: 1.6pc;
               padding: 1pc;
               border-radius: 50px;               
}


.main:hover{
               transition: 0.9s;
               box-shadow: #00FFDE 220px 500px 330px 183px ;
               border-radius: 70px;
}
.btn{
              color: white;
               border-radius: 100px;
               height: 3pc;
               float: right;
               padding-bottom: 10px;
               width: fit-content;
              outline-style: none;
              border-style: none;
               background:linear-gradient(169deg, aqua, grey);
               font-size: 1pc;
               font-weight: 1000;
               padding-top: 10px;
               
               transition: all 2s;

}
.btn:hover{
               border: 10px black;
               border-radius: 100px;
               height: 3pc;
               float: right;
               padding-bottom: 10px;
               width: fit-content;
              outline-style: none;
              border-style: none;
               background:linear-gradient(98deg, aqua, grey);
               font-size: 1pc;
               font-weight: 1000;
               padding-top: 10px;

}