body {
  background: #000;
}
@font-face {
  font-family: "Cyber";
  src: url("../public/components/fonts/Cybero\ Personal\ Use\ Only.ttf");
}
nav {
  margin-top: -10px;
}
.h {
  font-weight: 600;
  font-family: "Cyber";
  font-size: 45px;
 text-shadow: #000;
 color: aqua;
}
