body {

  background: #000;
  overflow-x: hidden; /* Hide horizontal scrollbar */

  margin: auto;
}
h6{
  color: #fff;
  text-align: center;
  font-size: 14px;
  margin: 20px;
  font-weight: 100;
}

@font-face {
  font-family: "Cyber";
  src: url("../public/components/fonts/Cybero\ Personal\ Use\ Only.ttf");
}
#h1 {
  font-weight: 600;
  font-family: "Cyber";
  font-size: 35px;
 text-shadow: #000;
 color: aqua;
}

/* Default: Mobile (< 768px) */
body { 
  font-size: 16px; }

/* Tablet (≥ 768px) */
@media (min-width: 768px) {
  body {
  background: #000;
    overflow-x: hidden; /* Hide horizontal scrollbar */

}
.app {
}

@font-face {
  font-family: "Cyber";
  src: url("../public/components/fonts/Cybero\ Personal\ Use\ Only.ttf");
}
#h1 {
  font-weight: 600;
  font-family: "Cyber";
  font-size: 50px;
 text-shadow: #000;
 color: aqua;
}

/* Default: Mobile (< 768px) */
body { 
  font-size: 16px; }

  

}

/* Desktop (≥ 992px) */
@media (min-width: 992px) {
  .container { width: 970px; }

body {
  background: #000;
    overflow-x: hidden; /* Hide horizontal scrollbar */

}
.app {
}

@font-face {
  font-family: "Cyber";
  src: url("../public/components/fonts/Cybero\ Personal\ Use\ Only.ttf");
}
#h1 {
  font-weight: 600;
  font-family: "Cyber";
  font-size: 55px;
 text-shadow: #000;
 color: aqua;
}

/* Default: Mobile (< 768px) */
body { 
  font-size: 16px; }

}

/* Large Desktop (≥ 1200px) */
@media (min-width: 1200px) {body {
  background: #000;
    overflow-x: hidden; /* Hide horizontal scrollbar */

}
.app {
}

@font-face {
  font-family: "Cyber";
  src: url("../public/components/fonts/Cybero\ Personal\ Use\ Only.ttf");
}
#h1 {
  font-weight: 600;
  font-family: "Cyber";
  font-size: 65px;
 text-shadow: #000;
 color: aqua;
}

/* Default: Mobile (< 768px) */
body { 
  font-size: 16px; }

}
